.woocommerce {
  &.woocommerce-page {
    main.main {
      max-width: 1190px;

      @include center-block;
    }

    ul.products {
      display: flex;
      flex-flow: row wrap;

      li.product {
        @include bp( 1, 499 ) {
          width: 100%;
          border-right: 0;
        }

        @include bp( 500, 767 ) {
          width: 50%;

          &:nth-child(2n + 0) {
            border-right: 0;
          }
        }

        @include bp( 768, 1199 ) {
          width: 33.33333%;

          &:nth-child(3n + 0) {
            border-right: 0;
          }
        }

        @include bp( 1200 ) {
          width: 25%;

          &:nth-child(4n + 0) {
            border-right: 0;
          }
        }
      }
    }
  }

  ul.products {
    @extend .list-unstyled;

    position: relative;

    li.product {
      position: relative;
      border-right: 1px solid rgba( $blue, 0.5 );
      box-sizing: border-box;
      margin: 0;
      clear: none !important;

      &.last-active-slide {
        border: 0;
      }

      a.woocommerce-loop-product__link {
        position: relative;
        width: 100%;
        margin-top: 20px;
        padding-bottom: 140px;
        box-sizing: border-box;

        @include center-block;

        @include bp( 1 ) {
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      img {
        @include center-block;

        margin-bottom: 20px;
      }

      .woocommerce-loop-product__title {
        text-align: center;
        font-size: 17px;
        font-family: $sans;
        text-transform: uppercase;
        color: $dblue;
        margin-bottom: 20px;
      }

      .price {
        @include center-block;

        text-align: center;
        position: relative;

        ins,
        del,
        .amount {
          font-size: 20px;
          line-height: 20px;
          font-family: $sans;
        }

        ins,
        .amount {
          //text-decoration: none;
          font-weight: 700;
          color: $lbrown;
        }

        del .amount {
          text-decoration: line-through;
          color: $dblue;
          //position: absolute;
          //left: 18px;
          font-weight: 300;
          font-style: italic;
        }
      }

      .onsale {
        position: absolute;
        color: white;
        background-color: $lbrown;
        padding: 5px 20px;

        @include absmid( 'h' );

        width: unset;
      }

      .button {
        @extend .btn;
        @extend .btn-primary;

        @include absmid( 'h' );

        bottom: 60px;
        padding-left: 20px;
        padding-right: 20px;
        min-width: 170px;
        box-sizing: border-box;
      }
    }
  }
}
