.latest-posts {
  &-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .article-slide-wrapper {
    max-width: 1190px;
    color: white;

    @include center-block;

    @include bp( 1 ) {
      padding: 30px;
      box-sizing: border-box;
    }
  }
}
