@import 'footer-widgets/latest-posts';

footer.content-info {
  background-color: $dblue;
  float: left;
  width: 100%;
  box-sizing: border-box;

  @include bp( 1 ) {
    @include half( padding, 60, 40, 60, 40, 2 );
  }

  @include bp( 1220 ) {
    @include half( padding, 60, 0, 30, 0, 1 );
  }

  color: white;

  a {
    @include colored-links( white, $lbrown, white );
  }

  .container {
    max-width: 1190px;

    @include center-block;
  }

  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .footer-widgets {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    clear: both;
  }

  .widget-title {
    margin-bottom: 20px;
  }

  .footer-credits {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    @include bp( 1 ) {
      text-align: center;
    }

    &-wrapper {
      border-top: 1px solid $dbrown;
      margin-top: 30px;
      padding-top: 30px;
    }

    &-width {
      max-width: 1190px;

      @include center-block;
    }

    .footer-logo {
      @include bp( 1, 1023 ) {
        @include center-block;
      }
    }

    .social-menu {
      @include bp( 1, 1023 ) {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }

  .underlay.open {
    display: block;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( $dblue, 0.5 );
    z-index: 1;
  }
}
