// Slick Carousel font path
$slick-font-path: '~slick-carousel/slick/fonts/';

// Slick Carousel ajax-loader.gif path
$slick-loader-path: '~slick-carousel/slick/';

/** Colors */
$brand-primary:         #525ddc;

/** Box Model  */
$spacer:                2rem;

/* Color Theme Swatches in Hex */
$blue: #03658c;
$dblue: #011c26;
$lbrown: #d99c2b;
$mbrown: #735317;
$dbrown: #402e0e;
